.grid-container{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(5, 60px)
}

.body-cell{
    transition:all 500ms ease;
}

.disabled{
    background:#cdcdcd
}
